:root {

  --accent: #3f73c6;
  --error: #f55448;

  --waiting: #faedcc;
  --active: #dfeddd;
  --closed: #e3e2e0;
  --new: #d9e3f4;

  --frame-bg: #ffffff;
  --frame-border: #ffffff;
  --page-bg: #EBEDF0;
  --page-border: #EBEDF0;

  --primary-bg: #fff;
  --primary-bg--hover: ;

  --primary-text: #1a1a1a;
  --secondary-text: #818c99;
  --secondary-text--disabled: #99a2ad;

  --primary-button-bg: #3f73c6;
  --primary-button-bg--hover: #325da3;
  --primary-button-bg--pressed: #325da3;
  --primary-button-bg--disabled: #ebedf0;

  --secondary-button-bg: #ffffff;
  --secondary-button-bg--hover: #f6f7f8;
  --secondary-button-bg--pressed: #f6f7f8;
  --secondary-button-bg--disabled: ;

  --light-button-bg: #3F73C61A;
  --light-button-text: var(--accent);
  --light-button-bg--hover: #3F73C630;
  --light-button-bg--pressed: #3F73C630;
  --light-button-bg--disabled: ;

  --textfield-bg: #f2f3f5;
  --textfield-border: #d4d5d7;

  --primary-icon: #9aa2ac;

  
}

[data-theme='dark'] {
}
